* {

    margin: 0;
    box-sizing: border-box;
    


}

.checkout {

    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;


}

.checkout h1 {

    padding: 3rem;
    padding-left: 4rem;


}

.fondo {

    height: 20%;
    width: 100%;
    padding: 2rem;


}

.datos_pasajero_container {

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;




}

.datos_pasajero {

    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    gap: 0.8rem;


}

.datos_pasajero_container h2 {

    background-color: #0b3d91;
    padding: 1rem;
    color: white;
    padding-left: 2rem;


}

.metodo_pago {

    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.5rem;


}

.resumen_vuelo_container {

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
    height: 23rem;


}

.resumen_vuelo_container h2 {

    background-color: #0b3d91;
    padding: 1rem;
    color: white;
    padding-left: 2rem;

}

.info_pago_container {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 4rem;
    padding-top: 0;

}

.total_vuelo {

    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid black;
    padding-top: 2rem;


}

.total_container {

    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    background-color: white;
    padding: 3rem;
    padding-left: 4rem;
    width: 100%;

}

.input_nombre_completo {

    width: 50%;
    padding: 0.3rem;
    padding-left: 2rem;

}

.input_documento {

    width: 28.5%;
    padding: 0.3rem;
    padding-left: 0.5rem;


}

.input_email {

    width: 50.2%;
    padding: 0.3rem;
    padding-left: 2rem;


}

.input_telefono {


    width: 50.2%;
    padding: 0.3rem;
    padding-left: 0.5rem;


}

.select_dni {

    padding: 0.3rem;
    border-radius: 0.2rem;
    width: 4rem;
    height: 2.5rem;
    border: none;
    background: #bfdae9;

}

.input_cupon {

    padding: 0.3rem;
    padding-left: 0.5rem;

}

.button_cupon {

    background-color: #0b3d91;
    color: white;
    height: 2.5rem;
    width: 5rem;
    


}

.metodo_pago_container {

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
    height: 10rem;
    


}

.metodo_pago_container h2 {


    background-color: #0b3d91;
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    border: 10rem;

}

.info_vuelo {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;



}

.info_vuelo_container {

    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;


}

.input_nombre_container {

    position: relative;
    display: flex;

}

.icono_usuario {


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;

}

.input_email_container {

    position: relative;
    display: flex;

}

.icono_email {


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;

}

input {

    border-radius: 0.2rem;
    height: 2.5rem;
    background: #bfdae9;
    border: none;
   

}

button {

    border-radius: 0.2rem;
    border: none;
    
   


}

.input_elegir_opcion_pago {

    accent-color: #0b3d91;
    height: 1rem;
    


}

.cupon {

    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-top: 0.1rem solid #0b3d91;
    padding-top: 2rem;
    

}

