.titulo {
    text-align: center;
    color: var(--brand-color);
}

.descripcion {
    text-align: center;
}

.perfil-vista {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
    margin: 0 auto; 
    gap: 1.25rem; 
    margin-top: 1.25rem;
    box-sizing: border-box; 
    padding: 0 1.25rem;
}

.perfil-tarjeta {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: 1px solid #ccc;
    padding: 1.25rem;
    border-radius: 0.625rem; 
    background-color: #f9f9f9;
}

.perfil-tarjeta li{
    padding: 0.625rem;
}

.perfil-tarjeta h2 {
    color: #333;
    text-align: center; 
}

.btn-icono-editar {
    display: inline-block;
    margin-left: 0.625rem;
    color: #888; 
    font-size: 0.9rem; 
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
}

.btn-icono-editar:hover {
    color: #000; 
    transform: scale(1.15);
}

.perfil-tarjeta ul {
    list-style: none;
    padding: 0;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: #333;
    padding: 0.625rem;
    background-color: #e9ecef;
    border-radius: 0.3125rem;
    margin-bottom: 0.3125rem;
    transition: background-color 0.3s ease;
}

summary:hover {
    background-color: #dee2e6;
}

.detalles-reserva {
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    padding-left: 1.875rem;
    list-style-type: circle;
    color: #555;
}

.detalles-reserva li {
    margin-bottom: 0.3125rem;
}

main{
    padding: 5rem 1.25rem;
}

@media (max-width: 768px) {
    .perfil-vista {
        grid-template-columns: 1fr; 
    }
}