* {

    margin: 0;
    box-sizing: border-box;
    


}

.checkout {

    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
    align-items: center;


}

.checkout h1 {

    padding: 3rem;
    padding-left: 4rem;


}

.fondo {

    height: 20%;
    width: 100%;
    padding: 2rem;


}

.datos_pasajero_container {

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);




}

.datos_pasajero {

    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5rem;
    gap: 1.5rem;


}

.datos_pasajero_container h2 {

    background-color: #0b3d91;
    padding: 1rem;
    color: white;
    padding-left: 2rem;


}

.metodo_pago {

    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1.5rem;
    background-color: white;
    


}

.resumen_vuelo_container {

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);


}

.resumen_vuelo_container h2 {

    background-color: #0b3d91;
    padding: 1rem;
    color: white;
    padding-left: 2rem;

}

.info_pago_container {

    display: grid;
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 20rem;
    padding-top: 0;
    padding-bottom: 6rem;
    
    
    

}

.total_vuelo {

    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid #0b3d91;
    padding-top: 2rem;


}

.total_container {

    display: flex;
    gap: 5rem;
    background-color: white;
    padding: 3rem;
    padding-left: 20rem;
    padding-right: 20rem;
    justify-content: space-between;
    grid-column: 1 / 4;

}

.input_nombre_completo {

    width: 100%;
    padding: 0.3rem;
    padding-left: 2.5rem;

}

.input_documento {

    width: 70%;
    padding: 0.3rem;
    padding-left: 1rem;


}

.input_email {

    width: 100%;
    padding: 0.3rem;
    padding-left: 2.5rem;


}

.input_telefono {


    width: 100%;
    padding: 0.3rem;
    padding-left: 1rem;


}

.select_dni {

    padding: 0.3rem;
    border-radius: 0.2rem;
    width: 30%;
    height: 2.5rem;
    border: 0.1rem solid #0b3d91;
    padding-left: 1rem;

}

.input_cupon {

    padding: 0.3rem;
    padding-left: 1rem;
    

}

.button_cupon {

    background-color: #0b3d91;
    color: white;
    height: 2.5rem;
    width: 5rem;
    cursor: pointer;
}

.button_cupon:hover {

    background-color: #0a192f;


}

.metodo_pago_container {

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    


}

.metodo_pago_container h2 {


    background-color: #0b3d91;
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    border: 10rem;

}

.info_vuelo {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;



}

.info_vuelo_container {

    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;


}

.input_nombre_container {

    position: relative;
    display: flex;

}

.icono_usuario {


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: #0b3d91;

}

.input_email_container {

    position: relative;
    display: flex;

}

.icono_email {


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: #0b3d91;

}

input {

    border-radius: 0.2rem;
    height: 2.5rem;
    border: 0.1rem solid #0b3d91;
   

}

button {

    border-radius: 0.2rem;
    border: none;
    
   


}

.input_elegir_opcion_pago {

    accent-color: #0b3d91;
    height: 1rem;
    


}

.cupon {

    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-top: 0.1rem solid #0b3d91;
    padding-top: 2rem;
    

}

.vencimiento_cvv_container {

    display: flex;
    justify-content: space-between;


}

.vencimiento_container {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}

.cvv_container {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}

.input_tarjeta {

    width: 100%;
    padding-left: 1rem;


}

.input_nombre_titular {


    width: 100%;
    padding-left: 1rem;

}

.input_fecha_vencimiento {


    width: 5rem;
    padding-left: 1rem;

}

.input_cvv {


    width: 5rem;
    padding-left: 1rem;

}

.datos_dni {

    display: flex;
    gap: 1rem;

}

.ida_texto, .vuelta_texto {

    font-weight: bold;
    margin-bottom: 1rem;

}

.ida_vuelta_container {

    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.button_confirmar_pago {

    background-color: #0b3d91;
    color: white;
    height: 2.5rem;
    width: 5rem;
    cursor: pointer;


}

.button_confirmar_pago:hover {

    background-color: #0a192f;


}

.tarjeta_credito_container  {

    display: flex;
    justify-content: space-between;


}

.tarjeta_imagen {

    font-size: 2rem;
    color: #0b3d91;


}



.mercado_pago_imagen {

    width: 8rem;
    height: auto;
    color: #0b3d91;

}

.transferencia_container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.total_precio {

    color: #0b3d91;
    font-size: 2rem;

}

.texto_total {

    font-size: 2rem;
    font-weight: bold;

}

.total_precio_container {

    display: flex;
    gap: 1rem;

}
    